/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-hjude-character-shift {
	color: var(--wp--preset--color--base);
	background-color: var(--wp--preset--color--contrast);
	--height:1.5em;
	--intersection:-1;
	display: flex;
	// font-size: clamp(3.5rem, 7.5vw, 12rem);
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	gap:2px;
	border:0px solid transparent !important;
}

.wp-block-hjude-character-shift.has-background{
	padding: 0px !important;
}


.wordBox{
	height: var(--height);
	overflow: hidden;
	outline: 2px solid;
	display: block;
	flex-grow: 1;
	padding:0px 0.25em;
}

.charBox{
	height: var(--height);
	display: inline-block;
	line-height:var(--height);
	transform: translateY(calc(var(--height) * var(--intersection)));
	// animation:characterShift 2.75s infinite alternate cubic-bezier(.66,.02,.09,1);
	// transform: translateY(calc(var(--height) *-1));
}

@keyframes characterShift{
	from{
		transform: translateY(0%);
	}
	to{
		transform: translateY(calc(var(--height) *-2));
	}
}

.charBox>span{
	display: block;	
}
